@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 10px;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #F6E7CB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    bottom: 5%;
}

li {
    will-change: opacity;
    font-size: 8rem;
    transition: all 0.4s;
    cursor: pointer;
    color: #542E71;
    list-style-type: none;
    opacity: 0.5;
}

li:hover {
    opacity: 1;
}

#button {
    will-change: border, background-color, color;
    position: absolute;
    width: 40%;
    background-color: #505168;
    padding: 20px 40px 20px 40px;
    border-radius: 1rem;
    border: 5px solid #DCC48E;
    text-align: center;
    cursor: pointer;
    transition: border 0.4s, background-color 0.4s, color 0.4s;
    top: 3%;
    color: #DCC48E;


}

#button:hover {
    border: 5px solid #A3C9A8;
    background-color: #84B59F;
    color: #A3C9A8;
}

i {
    font-size: 5rem;

}